@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Css/HomeStyle.css" rel="stylesheet" />

</head>
<body>
    <div class="container">


        <main>
            <!-- Contenido principal de la página -->
            <h1 id="main-heading">El Requinto Baldeón</h1>

        </main>


    </div>

</body>>